{% extends 'base.html' %}
{% block title %}登录{% endblock %}

{% block content %}
    <h1>登录</h1>
    {% if form.errors %}
        <p>登录信息不匹配</p>
    {% else %}
        <p>输入帐号信息登录</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <p><input type="submit" value="提交"></p>
        </form>
    </div>
{% endblock %}